---
let { text } = Astro.props;
---


<h1 class="mx-auto text-center lg:ml-28 lg:mx-0 h-20 text-5xl lg:text-6xl lg:leading-normal w-fit font-bold mb-10 bg-clip-text text-transparent bg-gradient-to-r dark:from-cyan-600 dark:from-30% dark:via-cyan-400 dark:via-70% dark:to-cyan-300  from-[#030014] from-30% via-[#9fa2f1] via-70% to-[#8286F1]">{text}</h1>